    <meta charset="utf-8">
    <title><%= item.title %></title>
    <meta name="description" content="<%= item.description %>">
    <meta name="keywords" content="<%= item.keywords %>">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1" />
    <!--ogp-->
    <meta property="og:title" content="<%= item.title %>">
    <meta property="og:type" content="<%= item.og_type %>">
    <meta property="og:description" content="<%= item.description %>">
    <meta property="og:url" content="<%= item.site_url %>">
    <meta property="og:image" content="<%= item.og_img %>">
    <meta property="og:site_name" content="<%= item.title %>">
    <meta property="og:locale" content="<%= item.og_locale %>">
    <meta property="fb:app_id" content="<%= item.fb_app_id %>">
    <!--/ogp-->
    <link rel="canonical" href="<%= item.site_url %>">
    <script src="//site.gnavi.co.jp/analysis/gtm_nt.js" async></script>
