<!DOCTYPE html>
<html>
<head>
<% include ../include/meta %>
<% var d = new Date(); var year = d.getFullYear(); var month = d.getMonth() + 1; var day = d.getDate(); var hour = d.getHours(); var minutes = d.getMinutes(); %>
    <link rel="stylesheet" href="css/style.css?<%= year %><%= month %><%= day %><%= hour %><%= minutes %>">
</head>

<body id="top">
<div class="l-wrapper">
    indexですです。
    <% var item2 = {'title':'title'} %>
    <%= item2.title %>
    <%= item.title %>
</div>
  <script src="js/lib.js?<%= year %><%= month %><%= day %><%= hour %><%= minutes %>"></script>
  <script src="js/all.js?<%= year %><%= month %><%= day %><%= hour %><%= minutes %>"></script>
  <% include ../include/analysis %>
</body>
</html>
