<!DOCTYPE html>
<html>
<head>
<% include ../include/meta %>
<% var d = new Date(); var year = d.getFullYear(); var month = d.getMonth() + 1; var day = d.getDate(); var hour = d.getHours(); var minutes = d.getMinutes(); %>
    <link rel="stylesheet" href="css/main.css?<%= year %><%= month %><%= day %><%= hour %><%= minutes %>">
</head>

<body>
    <div class="l-wrapper">
        <p>index</p>
        <p><%= title %></p>
    </div>

  <script src="js/main.js?<%= year %><%= month %><%= day %><%= hour %><%= minutes %>"></script>
  <% include ../include/analysis %>

</body>
</html>
